.pos .action-verify-barcode{
    width: 56px;
}

.pos .action-verify-barcode .verify-barcode{
    position: relative;
    height: 54px;
    width: 56px;
    border-bottom:none;
}

.pos .action-verify-barcode img{
    position: absolute;
    left: 13px;
    top: 13px;
    margin-right: 8px;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
}